.slds-grid.THIS {
    width: 40%; 
    height: 90%; 
    background-color: white;
}

.THIS .slds-border_bottom{
    width: 90%; 
    height: 10%; 
}

.THIS .slds-grid_vertical {
    width: 90%; 
    position:relative; top: -5%
}

.THIS .nextButton {
    position: relative; left: 40%; top: -10%
}